@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
li {
  list-style:none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(52, 152, 219,1.0);
  /* Ubah position ke fixed, dan top ke 0 */
  position:fixed;
  top: 0;
  opacity: 0.8;
  
  /* Ubah z-index ke 10 */
  z-index: 10;
}

.header-left {
  
}
.header-logo {
  color: #c0392b;
  
}
.header-logo h1 {
	text-align: center;
	
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
   background-size: cover;
  color: white;
  text-align: center;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.lesson-wrapper {
  height: 600px;
  padding-bottom: 80px;
  background-color: #F4F6F3 ;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h3 {
  font-weight: bold;
  margin-bottom:10px;
  font-family: "Lucida console";

  }
 .heading p {
   color: c0392b;
   font-weight: bold;
   padding-bottom:15px;
   padding-top:2px;
 }
 
.contact-submit {
  color: #c0392b;
  cursor: pointer;
  border-radius: 10px;
  
} 
.textarea, input {
  border:1px solid #dee7ec;
  height: 30px;
 padding: 0 20px;
 margin-bottom: 3px;
 
  
}
.heading h2 {
  font-weight: normal;
  margin-top:60px;
  
}

.section-title {
  border-bottom: 1.5px solid #d35400;
  font-size: 25px;
  font-family:"lucida console";
  padding-bottom: 25px;
  margin-bottom: 15px;
}
.lessons{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
}



.lesson-icon {
  position: relative;
}



.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 25px;
  font-size: 17px;
  font-family: verdana;
  opacity: 0.8;
}

